---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | theshanumalik">
  <main>
    <h1>Contact</h1>
    <p>
      Feel free to reach out to me at <a href="mailto:theshanumalik@gmail.com"
        >Mail</a
      >
    </p>
  </main></Layout
>
