---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Project from "../components/Project.astro";
import LatestPosts from "../components/latest-posts";
---

<Layout title="theshanumalik | Fullstack Developer">
  <main class="my-4">
    <Header />
    <About />
    <Project />
    <LatestPosts client:load />
  </main>
  <script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js" defer
  ></script>
  <script
    type="module"
    data-popup-id="66a1f6c607e48fe27b967bc3"
    src="https://popup-embed.vercel.app/assets/index-7495e7cb.js"
    is:inline></script>
</Layout>
