---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Project from "../components/Project.astro";
import LatestPosts from "../components/latest-posts";
---

<Layout title="theshanumalik | Fullstack Developer">
  <main class="my-4">
    <Header />
    <About />
    <Project />
    <LatestPosts client:load />
  </main>
  <link rel="stylesheet" href="https://fomofy.vercel.app/style/pop-up.css" />
  <script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js" defer
  ></script>
  <script
    src="https://fomofy.vercel.app/api/script/?project-id=66e81cae0448b9c87622f13d"
    defer
    is:inline></script>
</Layout>
