---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Project from "../components/Project.astro";
---

<Layout title="theshanumalik | Welcome">
  <main class="my-4">
    <Header />
    <Project />
    <About />
  </main>
</Layout>
