---
import { Icon } from "astro-icon/components";
---

<section class="my-8 mx-auto max-w-2xl">
  <div>
    <h2 class="my-3 uppercase max-w-fit border-b pb-2 pr-2">ABOUT</h2>
    <p class="my-3">
      Hello! I{"'"}m a Full Stack Developer from Jaipur, India, specializing in
      building robust, scalable web applications. With a passion for crafting
      seamless user experiences, I bring expertise in front-end and back-end
      development to deliver high-quality, performance-driven solutions.
    </p>
    <div class="my-2 flex items-center gap-2 max-[303px]:flex-col">
      <a
        href="/assets/shanu-malik-resume.pdf"
        download
        class="btn btn-primary uppercase max-[303px]:w-full"
      >
        <Icon name="mdi:arrow-collapse-down" size={18} /> Resume
      </a>
      <a
        href="mailto:theshanumalik.dev@gmail.com"
        class="btn btn-outline uppercase ml-2 max-[303px]:w-full"
      >
        <Icon name={"mdi:email"} size={20} /> Contact Me
      </a>
    </div>
  </div>
</section>
