---
import { Icon } from "astro-icon/components";
import ProfileImage from "../../public/images/shanu-malik.jpg";
import { Image } from "astro:assets";
const SocialLinks = [
  {
    name: "GitHub",
    url: "http://www.github.com/theshanumalik",
    icon: "mdi:github",
  },
  {
    name: "LinkedIn",
    url: "http://www.linkedin.com/in/theshanumalik",
    icon: "mdi:linkedin",
  },
  {
    name: "Instagram",
    url: "http://www.instagram.com/theshanumalik",
    icon: "mdi:instagram",
  },
  {
    name: "Twitter",
    url: "http://www.twitter.com/theshanumalik",
    icon: "mdi:twitter",
  },
];
---

<header
  class="w-full max-w-2xl border border-gray-700 mx-auto p-4 rounded-xl my-10"
>
  <div class="flex items-center gap-3 max-sm:space-y-2 max-sm:block">
    <Image
      src={ProfileImage}
      width={70}
      height={70}
      alt="Image of shanu malik"
      quality={90}
      class={"rounded-full object-cover"}
    />
    <div class="flex-1">
      <h1 class="text-2xl font-semibold text-white">Shanu Malik</h1>
      <p class="text-sm">Full Stack Developer {"("}MERN{")"}</p>
    </div>

    <ul class="flex gap-2">
      {
        SocialLinks.map((link) => (
          <li>
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-white hover:text-gray-400 transition-colors"
            >
              <Icon name={link.icon} size={24} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
