---
import { Icon } from "astro-icon/components";
import Hifi from "./Hifi";
import WavyText from "./text-animate";
import ImageAnimation from "./image-animate";
const SocialLinks = [
  {
    name: "GitHub",
    url: "http://www.github.com/theshanumalik",
    icon: "mdi:github",
  },
  {
    name: "LinkedIn",
    url: "http://www.linkedin.com/in/theshanumalik",
    icon: "mdi:linkedin",
  },
  {
    name: "Instagram",
    url: "http://www.instagram.com/theshanumalik",
    icon: "mdi:instagram",
  },
  {
    name: "Twitter",
    url: "http://www.twitter.com/theshanumalik",
    icon: "mdi:twitter",
  },
];
---

<header class="text-center h-[calc(60vh-70px)]">
  <ImageAnimation
    client:load
    src="/images/profile.jpg"
    wrapperClassName="h-[150px] w-[150px] rounded-full mx-auto my-4 overflow-hidden"
    imageClassName="h-full w-full object-cover"
    alt="Profile picture of shanu malik"
  />
  <h1 class="text-3xl font-semibold flex justify-center">
    <Hifi client:load />
    <WavyText client:load text="Hi, I am Shanu Malik" replay={true} />
  </h1>
  <p class="my-3 text-gray-700">
    A passionate <b>MERN Stack Developer</b> based in jaipur, INDIA <br /> I love
    to build Web applications and solve problems.
  </p>
  <ul class="flex items-center justify-center gap-3">
    {
      SocialLinks.map((link) => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-700 hover:text-gray-900"
          >
            <Icon name={link.icon} size={30} />
          </a>
        </li>
      ))
    }
  </ul>
</header>
