---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("projects");
---

<section title="projects" class="max-w-2xl mx-auto my-9">
  <h2 class="my-3 uppercase max-w-fit border-b pb-2 pr-2">Projects</h2>

  <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-4 my-6">
    {
      projects.map((project, id) => (
        <ProjectCard project={project} id={`project-${id}`} />
      ))
    }
  </div>
</section>

<script>
  const btns = document.querySelectorAll(
    "[data-model-trigger]"
  ) as unknown as HTMLDivElement[];

  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const id = btn.getAttribute("data-model-trigger");
      const targetModel = document.querySelector(
        `[data-model="${id}"]`
      ) as unknown as HTMLDialogElement;
      targetModel.showModal();
    });
  });
</script>
